@import url(./fonts.css);
@import url(./icons.css);


/* --- Variables --- */

:root {
    /* Light mode colors */
    --color-primary: #016fb9;
    --color-primary-gradient: #34d1bf;
    --color-primary-alt: #01497a;
    --color-primary-alt-gradient: #2ab7a6;
    --color-secondary: #de541e;
    --color-secondary-gradient: #F5AF00;
    --color-bg: #f5f5f5;
    --color-bg-secondary: #ffffff;
    --color-bg-tertiary: #e9e9e9;
    --color-text: #000000;
    --color-text-secondary: #666666;

    /* Styling variables */
    --max-width: 120em;
    --site-padding: 0.75rem;
    --navbar-height: 4.5rem;
    --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode colors */
        --color-bg: #141414;
        --color-bg-secondary: #1f1f20;
        --color-bg-tertiary: #191919;
        --color-text: #ffffff;
        --color-text-secondary: #999999;
    }
}

@media (min-width: 768px) {
    :root {
        --site-padding: 3rem;
    }
}


/* --- General --- */

body {
    margin: 0;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--site-padding);
}

a {
    color: var(--color-primary);
}

a.button-style {
    display: block;
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--color-bg-secondary);
    color: var(--color-text);
    text-align: center;
    text-decoration: none;
}

a.button-style:hover {
    background: var(--color-bg-tertiary);
}

select {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem auto;
    border: none;
    border-right: 0.25rem solid transparent;
    border-radius: var(--border-radius);
    background: var(--color-bg-secondary);
    color: var(--color-text);
    text-decoration: none;
}

abbr {
    text-decoration: none;
    cursor: help;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: var(--color-bg-secondary);
}

.team-badge {
    --internal-team-color: var(--team-color, #777777);
    width: fit-content;
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius);
    white-space: nowrap;
    color: #ffffff;
    background: var(--internal-team-color);
}

@media (min-width: 48em) {
    select {
        width: fit-content;
    }
}


/* --- Navigation --- */

nav {
    width: 100%;
    background: var(--color-bg-secondary);
    padding: 0 var(--site-padding);
    box-sizing: border-box;
}

.nav-items {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    height: var(--navbar-height);
    margin: 0 auto 2rem auto;
    font-family: Montserrat, sans-serif;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}

.nav-left {
    justify-content: flex-start;
}

.nav-center {
    justify-content: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-menu {
    display: none;
}

.nav-brand {
    background-image: linear-gradient(135deg, var(--color-secondary), var(--color-secondary-gradient));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

#nav-hamburger-toggle {
    display: none;
}

.nav-hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 1.75rem;
    height: 1.25rem;
}

.nav-hamburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    background: var(--color-text);
    border-radius: 0.3rem;
    transform-origin: 0 0;
    transition: 0.4s;
}

.nav-hamburger span:nth-child(1) {
    top: 0%;
}

.nav-hamburger span:nth-child(2) {
    top: 40%;
}

.nav-hamburger span:nth-child(3) {
    top: 80%;
}

#nav-hamburger-toggle:checked ~ .nav-hamburger span:nth-child(1) {
    top: 40%;
    transform-origin: center;
    transform: rotate(45deg);
}

#nav-hamburger-toggle:checked ~ .nav-hamburger span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
}

#nav-hamburger-toggle:checked ~ .nav-hamburger span:nth-child(3) {
    top: 40%;
    transform-origin: center;
    transform: rotate(-45deg);
}

#nav-hamburger-toggle:checked ~ .nav-menu {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 var(--site-padding);
    background: var(--color-bg-tertiary);
}

.nav-menu a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin: 0.75rem 0;
    border-radius: var(--border-radius);
    color: var(--color-text);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu a:hover {
    background: var(--color-bg);
}

.nav-menu a.nav-active {
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-gradient));
}

.nav-menu a.nav-active:hover {
    background: linear-gradient(45deg, var(--color-primary-alt), var(--color-primary-alt-gradient));
}

.local-nav {
    background: var(--color-bg-tertiary);
    margin-top: -2rem;
}

.local-nav-items {
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    height: 3rem;
    margin: 0 auto 2rem auto;
}

.local-nav .local-nav-active {
    color: var(--color-text);
    text-decoration: none;
}

@media (min-width: 48em) {
    .nav-hamburger {
        display: none;
    }

    .nav-menu, #nav-hamburger-toggle:checked ~ .nav-menu {
        display: flex;
        column-gap: 0.25rem;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        background: none;
    }

    .nav-menu a {
        width: fit-content;
        margin: 0;
    }

    .local-nav-items {
        justify-content: right;
    }
}


/* --- Scores --- */

.score-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
}

@media (min-width: 48em) {
    .score-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 72em) {
    .score-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 96em) {
    .score-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.score {
    justify-content: center;
}

.score-time {
    text-align: center;
    margin: 0;
}

.score-teams {
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.score-team-left {
    justify-self: right;
    margin: 0.5rem;
}

.score-team-right {
    justify-self: left;
    margin: 0.5rem;
}

.score-result {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}


/* --- Standings --- */

.standings-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
}

@media (min-width: 48em) {
    .standings-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 96em) {
    .standings-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.standings-title {
    margin-top: 0;
}

.standings table {
    width: 100%;
    border-collapse: collapse;
}

.standings th, .standings td {
    padding: 0.3rem;
}

.standings th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0.1rem solid var(--color-text);
}

.standings td {
    border-bottom: 0.05rem solid var(--color-text-secondary);
}

th.standings-optional, td.standings-optional {
    display: none;
}

@media (min-width: 48em) {
    th.standings-optional, td.standings-optional {
        display: table-cell;
    }

    .standings-stretch {
        width: 66%;
    }
}